PORT=8000
MONGO_URI=mongodb+srv://bakhautdinovadam_db_user:peTswp2HJoJ9JyKL@cluster0.8udfckr.mongodb.net/?appName=Cluster0
JWT_SECRET=tourisk-mvp-secret-change-on-server
ADMIN_JWT_SECRET=tourisk-admin-secret-change-on-server
ADMIN_LOGIN=admin
ADMIN_PASSWORD=tourisk1111
ADMIN_KEY=tourisk-admin-1111
APP_URL=http://localhost:19006
NODE_ENV=development
